.item,
#footer {
  width: 90%;
  height: auto;
  margin: 50px 0;
  margin-right: 0;
  margin-left: 10%;
  padding: 10px;
  background-color: rgba(61, 61, 61, 0.9);
  /*#666;*/
  text-align: center;
  color: #fff;
  font-size: 1em;
  border-radius: 25px 0px 0px 25px;
  border: 2px solid #0d8843;
  box-shadow: 0 2px 8px 0 #000;
  transition: all 500ms ease-out;
  position: relative;
  visibility: hidden;
}

.item.show {
  visibility: visible;
}

.item.right {
  margin-left: 0;
  margin-right: 10%;
  text-align: center;
  border-radius: 0px 25px 25px 0px;
  left: -100%;
  border-left: none;
}

.item.right.show {
  left: 0;
}

.item.left {
  right: -100%;
  border-right: none;
}

.item.left.show {
  right: 0;
}

.item h1 {
  text-align: center;
}

.item .content {
  display: inline-block;
  text-align: left;
}


/* Backgrounds */

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  } to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  } to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  } to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  } to {
    background-position: -10000px 5000px;
  }
}

#stars,
#twinkling {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

#stars {
  background: url(/media/stars.png) repeat top center;
}

#twinkling {
  background: transparent url(/media/twinkling.png) repeat top center;
  -moz-animation: move-twink-back 2000s linear infinite;
  -ms-animation: move-twink-back 2000s linear infinite;
  -o-animation: move-twink-back 2000s linear infinite;
  -webkit-animation: move-twink-back 2000s linear infinite;
  animation: move-twink-back 2000s linear infinite;
}

#earth {
  width: 100vh;
  height: 100vh;
  background: url(/media/earthmap.jpg);
  border-radius: 50%;
  background-size: 200vh;
  box-shadow: inset 32px 0 80px 12px rgba(0, 0, 0, 0.9), inset -32px 0 80px 12px rgba(255, 255, 255, 0.5);
  animation-name: rotate;
  animation-duration: 200s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotateZ(10deg);
  position: fixed;
  top: 50vh;
  left: 50%;
  margin-left: -50vh;
}

@keyframes rotate {
  from {
    background-position-x: 0vh;
  } to {
    background-position-x: 200vh;
  }
}
