<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">

  <meta name="copyright" content="© 2018 Terracoin Foundation">
  <meta name="msapplication-tilecolor" content="#ffffff">
  <meta name="msapplication-tileimage" content="{{ "/mstile-144x144.png" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#ffffff">
  
  <link href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}" rel="apple-touch-icon" sizes="180x180">
  <link href="{{ "/favicon-32x32.png" | prepend: site.baseurl }}" rel="icon" sizes="32x32" type="image/png">
  <link href="{{ "/android-chrome-192x192.png" | prepend: site.baseurl }}" rel="icon" sizes="192x192" type="image/png">
  <link href="{{ "/favicon-16x16.png" | prepend: site.baseurl }}" rel="icon" sizes="16x16" type="image/png">
  <link href="{{ "/manifest.json" | prepend: site.baseurl }}" rel="manifest">
  <link href="{{ "/safari-pinned-tab.svg" | prepend: site.baseurl }}" rel="mask-icon" color="#0e8843">
  <link href="{{ "/favicon.ico" | prepend: site.baseurl }}" rel="shortcut icon" type="image/vnd.microsoft.icon">

  <link rel="stylesheet" href="{{ "/css/effect.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
  <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />{% endfor %}
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />{% endfor %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
  <script src="/js/effect.js" type="text/javascript"></script>
</head>
