<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="stars"></div>
<div id="twinkling"></div>
<div id="earth"></div>

<div class="item">
    <h1>Section 1</h1>
    <div class="content">
        blah blah blah blah blah blah blah blah blah
        <ul>
            <li>foo</li>
        </ul>
        blah blah blah
    </div>
</div>
<div class="item">
    <h1>Section 2</h1>
    <div class="content">
        blah blah blah blah blah blah
        <ul>
            <li>foo</li>
        </ul>
    </div>
</div>
<div class="item">
    <h1>Section 3</h1>
    <div class="content">
        blah blah blah
        <ul>
            <li>foo</li>
        </ul>
        foo
        <br> foo
        <br> foo
    </div>
</div>
<div class="item">
    <h1>Section 4</h1>
    <div class="content">
        blah blah blah
        <ul>
            <li>foo</li>
        </ul>
    </div>
</div>
<div class="item">
    <h1>Section 5</h1>
    <div class="content">
        blah blah blah
        <ul>
            <li>foo</li>
        </ul>
    </div>
</div>
<div class="item">
    <h1>Section 6</h1>
    <div class="content">
        blah blah blah
        <ul>
            <li>foo</li>
        </ul>
    </div>
</div>
<div class="item">
    <h1>Section 7</h1>
    <div class="content">
        blah blah blah
        <ul>
            <li>foo</li>
        </ul>
    </div>
</div>
<div class="item">
    <h1>Section 8</h1>
    <div class="content">
        blah blah blah
        <ul>
            <li>foo</li>
        </ul>
    </div>
</div>
<div class="item">
    <h1>Section 9</h1>
    <div class="content">
        blah blah blah
        <ul>
            <li>foo</li>
        </ul>
    </div>
</div>
<div class="item">
    <h1>Section 10</h1>
    <div class="content">
        blah blah blah
        <ul>
            <li>foo</li>
        </ul>
    </div>
</div>
<div class="item">
    <h1>Section 11</h1>
    <div class="content">
        blah blah blah
        <ul>
            <li>foo</li>
        </ul>
    </div>
</div>

<div id="topmenu">
    <div>
        Menu
    </div>
</div>

<div id="footer">
    This is the footer
</div>


    {% include footer.html %}

  </body>

</html>
